<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>services</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
</head>
<body>
<h1>services offered</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad alias amet architecto, cumque dolore, eius hic labore necessitatibus nihil officiis possimus quasi sed sequi suscipit, totam voluptatum! Praesentium, quas?</p>


</body>
</html>
